<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/2764/2764747.png"/>
    <title>Fale conosco</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/morph/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
<body>
<style>
.btnOutline{
		border: 2px solid #d9e3f1;
		background: transparent;
		color: #d9e3f1;
		padding: 5px 25px;
		border-radius: 20px;
		transition: .4s;
		margin: 10px 60px;
		text-decoration: none
	}
	.btnOutline:hover{
		border: 2px solid #d9e3f1;
		background: #d9e3f1;
		color: #222222;
	}
	.btnOutline:ACTIVE{
		border: 2px solid #d9e3f1;
		background: #d9e3f1;
		color: #222222;
	}
	.btnEntrar{
		background: transparent;
		color: #d9e3f1;
		border: none;
		padding: 0;
		font-size: 1.7rem;
		margin: 0 60px 0 5px;
	}
	</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a style="margin: 9px 40px" class="navbar-brand" href="home"><i style="margin-right: 5px" class="fas fa-building-columns"></i> Banco Turing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li style="margin: 0 10px" class="nav-item">
          <a class="nav-link active" href="home"><i style="margin-right: 5px" class="fas fa-home"></i>Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li style="margin: 0 10px" class="nav-item">
          <a class="nav-link" href="transferencia/nova"><i style="margin-right: 5px" class="fas fa-dollar-sign"></i>Nova transferência</a>
        </li>
        <li style="margin: 0 10px" class="nav-item">
          <a class="nav-link" href="/extrato"><i style="margin-right: 5px" class="fas fa-file-invoice"></i>Meu extrato</a>
        </li>
        <li style="margin: 0 10px" class="nav-item">
          <a class="nav-link" href="#"><i style="margin-right: 5px" class="fas fa-phone"></i>Fale conosco</a>
        </li>
      </ul>   
    </div>
  </div>
</nav>
<br>
<br>
<br>
<br>
<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center justify-content-around flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text">
                    <h2 class="dark-color">Quem sou eu?</h2>
                    <h4 class="theme-color">Desenvolvedor de Software</h4>
                    <p>Olá! Meu nome é <strong>Erick Silvério Blass,</strong> tenho 19 anos, sou estudante de <strong>Engenharia da Computação</strong> e atualmente trabalho como <strong>Desenvolvedor de Software Fullstack</strong> na empresa <a href="https://www.linkedin.com/company/unitono/mycompany/">Skytel Brasil</a> e adoraria uma oportunidade de estágio no Itaú.</p>
                    <p>Fiz esse projeto inteiramente em <strong>Java</strong> com <strong>Spring Boot, MVC, Spring Data JPA</strong> e <strong>Banco de Dados MySQL.</strong></p>
					<p>Foi um projeto de muito aprendizado e eu espero que vocês gostem!</p>                    
                    <div class="btn-bar">
                        <a class="px-btn theme" href="https://github.com/ericksilverio10/TesteTuringItau">Repositório do projeto</a><br>
                        <a style="font-size: 2.6rem; margin-right: 15px" class="px-btn theme-t" href="https://www.linkedin.com/in/erick-silverio-8a48a5221/"><i class="fa-brands fa-linkedin"></i></a>
                        <a style="font-size: 2.6rem" class="px-btn theme-t" href="https://github.com/ericksilverio10"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <div class="about-img">
                    <img style="border-radius: 100%" src="https://avatars.githubusercontent.com/u/92898985?v=4">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
